.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__link {
        font-weight: 900;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: var(--font-color-primary);
        transition: color 0.2s ease-in-out;

        &.active {
            color: var(--font-color-secondary);

            &:hover {
                color: var(--font-color-third);
            }
        }

        &:hover {
            color: var(--font-color-secondary);
        }
    }

    &__nav {
        display: flex;
        gap: 26px;
    }

    &__menu {
        display: none;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 840px) {
    .header {
        &__nav {
            display: none;
        }
        &__menu {
            display: block;
        }
    }
}
