:root {
    --font-color-primary: #ffffff;
    --font-color-secondary: #00e0d0;
    --font-color-third: #53c3bf;
    --font-color-fourth: #413d4b;
    --font-color-five: #F9F9F9;
    --font-color-six: #FAFAFA;

    --primary-font: "Roboto";
    --secondary-font: "Playfair Display";
}

#root,
body,
html {
    width: 100%;
}
