.input-container {
    width: 100%;
    position: relative;
}

.input {
    width: 100%;
    padding: 11px 19px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: var(--font-color-primary);
    border-radius: 4px;
    transition:
        border-color 0.3s,
        box-shadow 0.3s;
    margin-bottom: 5px;
    resize: none;
    overflow: hidden;
    &:focus {
        border-color: var(--font-color-secondary);
        box-shadow: 0 0 0 2px rgba(0, 224, 208, 0.3);
        outline: none;
    }
}
