.input {
    padding: 11px 19px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: var(--font-color-fourth);
}